<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<properties resource="db.properties"> </properties>
	 <environments default="development">
	 <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${user}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="co/sy/prj/mybatis/board-map.xml"/> <!--  board table mapper -->
    <mapper resource=""/> <!--  member table mapper -->
    <mapper resource=""/> <!--  other table mapper -->
						  <!--  매퍼를 하나 추가할 때 마다 이렇게 넣어주면 된다. -->
  </mappers>
</configuration>